<<<<<<< HEAD
=======
.App {
  /* text-align: center; */
}

>>>>>>> 413caf329796e8f84a5608590a1ea66d91a8a894
.MuiInputBase-input.MuiOutlinedInput-input {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.99);
  border-radius: 8px;
  margin-right: 20px;
  outline: none;
}
